{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Draw</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Number1</th>
                <td>{{ entity.number1 }}</td>
            </tr>
            <tr>
                <th>Number2</th>
                <td>{{ entity.number2 }}</td>
            </tr>
            <tr>
                <th>Number3</th>
                <td>{{ entity.number3 }}</td>
            </tr>
            <tr>
                <th>Number4</th>
                <td>{{ entity.number4 }}</td>
            </tr>
            <tr>
                <th>Number5</th>
                <td>{{ entity.number5 }}</td>
            </tr>
            <tr>
                <th>Star1</th>
                <td>{{ entity.star1 }}</td>
            </tr>
            <tr>
                <th>Star2</th>
                <td>{{ entity.star2 }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('aa_draw') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('aa_draw_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
