{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Dashboard</h1>

    <h2 class="sub-header">Frequencies</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Frequency</th>
                    <th>Relative Frequency</th>
                    <th>Percentage</th>
                    <th>Last Occurrence</th>
                </tr>
            </thead>
            <tbody>
                {% for number in numbers %}
                    <tr>
                        <td>{{ number.value }}</td>
                        <td>{{ number.frequency }}</td>
                        <td>{{ number.relativeFrequency }}</td>
                        <td>{{ number.percentage }}</td>
                        <td>{{ number.lastOccurrence|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Star</th>
                    <th>Frequency</th>
                    <th>Relative Frequency</th>
                    <th>Percentage</th>
                    <th>Last Occurrence</th>
                </tr>
            </thead>
            <tbody>
                {% for star in stars %}
                    <tr>
                        <td>{{ star.value }}</td>
                        <td>{{ star.frequency }}</td>
                        <td>{{ star.relativeFrequency }}</td>
                        <td>{{ star.percentage }}</td>
                        <td>{{ star.lastOccurrence|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
